

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#locationField, #controls {
    position: relative;
/*    width: 480px;*/
}
.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
}
#address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
}
#address td {
    font-size: 10pt;
}
.field {
    width: 99%;
}
.slimField {
    width: 80px;
}
.wideField {
    width: 200px;
}
#locationField {
    height: 20px;
    margin-bottom: 2px;
}
