/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-dic-2014, 9.48.19
    Author     : Francesco
*/

.ui-widget{
    font-family:Arial,sans-serif;font-size: 13px !important;
}

/*.ui-widget-content {
    border: 0;
}*/

#header{
    position: fixed !important;
    z-index: 1 !important;
}

.ui-messages-error{
    padding: 4px 4px 4px 4px;
}

.linkStyle {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor: pointer;
}

.ui-dialog {
    white-space: nowrap;
    width: 200px;
}

.ui-dialog-footer, .ui-panelgrid-footer {
    text-align: center !important;
}

.ui-toolbar form {
    display: inline-block;
}

#header, #sidebar, .noBorder tr td, .noBorder tr {
    border: none !important;
}