/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-dic-2014, 9.48.19
    Author     : Francesco
*/

.ui-widget{
    font-family:Arial,sans-serif;
    font-size: 0.92em !important;
}

#header .ui-layout-unit-content {
    overflow: hidden !important;
}

#centerLayout {
    min-height: 500px;
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto !important;

}

.noLinkStyle {
    text-decoration: none;
}

.removeUser {
    display: none;
}

#toolTipTrack3:hover > .removeUser {
    display: inline;
}

hr {
    margin: 20px 0 20px 0;
}

.scheduleConteiner {
    width: 1000px !important;
    height: 700px !important;
}

#header{
    position: fixed !important;
    z-index: 1 !important;
    padding: 0;
    background: none;
}

/*#header, #toolbar {
    height: 53px !important;
}*/

.ui-messages-error{
    padding: 4px 4px 4px 4px;
}

.linkStyle {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor: pointer;
}

.ui-dialog {
    white-space: nowrap;        
}

.ui-dialog-footer, .ui-panelgrid-footer {
    text-align: center !important;
}

.ui-toolbar form {
    display: inline-block;
}

#header, .sidebar, .noBorder tr td, .noBorder tr {
    border: none !important;
}

.sidebar, .sidebar > .ui-widget-content {
    background: none;
}

.ui-widget-header {
    border: none;
}

#hamburger {
    padding: 0 10px;
    cursor: pointer;
}

#sidebar {
    height: 100vh;
    width: 180px;
    top: 30px;
    background: lightgray;
}

#sidebar .ui-widget-content {
    background: none;
}

/*#sidebar, #header {
    font-size: 1.5em !important;
}*/

#header .ui-layout-unit, #header .ui-layout-unit-content {
    padding: 0 !important;
    background: none;
}