/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-dic-2014, 9.48.19
    Author     : Francesco
*/

body {
    font-size: 100%;
}

#header .ui-layout-unit-content {
    overflow: hidden !important;
}

#centerLayout {
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto 50px auto !important;
    height: 100%;
}

.noLinkStyle {
    text-decoration: none;
}

.removeUser {
    display: none;
}

#toolTipTrack3:hover > .removeUser {
    display: inline;
}

hr {
    margin: 20px 0 20px 0;
}

.scheduleConteiner {
    width: 900px !important;
    height: 900px;
}

#header{
    /*    position: fixed !important;*/
    z-index: 1 !important;
    padding: 0;
    background: none;
}

#header, #toolbar {
    height: 45px !important;
}

.linkStyle, .linkStyle2 {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor: pointer;
    color: #1976D2 !important;
    border: 0;
}

.linkStyle:hover {
    color: white !important;
}

.linkStyle ui-icon {
    background-image: none;
}

.linkStyle2:hover {
    color: #1976D2 !important;
}

.ui-toolbar form {
    display: inline-block;
}

#header, .sidebar, .noBorder tr td, .noBorder tr {
    border: none !important;
}

.sidebar, .sidebar > .ui-widget-content {
    background: none;
}
/*
.ui-widget-header {
    border: none;
}*/

.linkBalloon, .linkToolbar {
    padding: 10px;
    margin: 0px 10px;
    cursor: pointer;
    color: #1976D2;
    height: 15px;
    width: 15px;
    text-align: center;
    position: relative;
}

.textToolbar {
    margin: 0px 10px;
}

.linkBalloon a, .linkToolbar a {
    color: #1976D2;
    text-decoration:  none;
}

.linkBalloon:hover, .linkBalloon:hover a {
    color: #fff;
    background-color: #1976D2;
    border: 0px solid #1976D2;
    border-radius: 50%;
}

.linkToolbar:hover, .linkToolbar:hover a {
    color: #fff;
}

#notifications .badges {
    position: absolute;
    left: 23px;
    top: -10px;
    font-size: .9em;
}

#sidebar {
    height: 100vh;
    width: 180px;
    background: lightgray;
    top: 45px !important;
    position: fixed;
    z-index: 2;
}

#sidebar .ui-widget-content {
    background: none;
}

#header .ui-layout-unit, #header .ui-layout-unit-content {
    padding: 0 !important;
    background: none;
}

.ui-toolbar {
    padding: 0;
}

#header .ui-toolbar-group-left, #header .ui-toolbar-group-right {
    line-height: 45px;
    vertical-align: middle;
    margin-right: 30px;
}

.ui-menu {

    /*    padding: 0;*/
}

#sidebar ul li {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    padding-left: 7px;
}

.prevEvent td {
    vertical-align: top;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-top: 7px;
}

#scheduleForm tr {
    vertical-align: top;
}

.ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.ui-fieldset-legend {
    border: #BBDEFB !important;
    background: #BBDEFB !important;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.ui-toolbar .ui-button, .ui-toolbar .ui-toolbar-group-right, .ui-toolbar .ui-toolbar-group-left {
    height: 35px;
    border: 0px;
    margin: 0;
}
.ui-toolbar .ui-toolbar-group-right {
    padding: 0;
}
.ui-toolbar .ui-selectonemenu-label {
    padding: 5px;
    height: 23px;
    border: 1px;
    line-height: 23px;
    vertical-align: middle; 
}

.ui-toolbar {
    height:  35px;
}

.fc-event {
    cursor: pointer;
}

.profileImg {
    border-radius: 50%;
}

.profile {
    margin: auto;
    width: 180px;
    text-align: center;
}

h1, h2, h3 {
    color: #454545;
}

.imgEvent {
    background: #FFF317 !important;
    width: 200px;
    height: 200px;
    text-transform: capitalize;
    text-align: center;
    font-size: 140px;
    font-weight: 100;
}

.imgEventPrev {
    background: #FFF317 !important;
    width: 110px;
    height: 110px;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
}

.tableAlign td{
    vertical-align: top !important;
    white-space: nowrap;
}

.tableAlign td:nth-child(even) {
  white-space: normal;
}

#weatherBox {
    padding: 0;
}

#weatherBox td {
    white-space: normal;
}

.tableAlign td .ui-panel, .tableAlign td .ui-panel .ui-panel-content {
    padding: 0;
}

.ui-dialog {
    box-shadow: 1px 5px 8px rgba(0,0,0,0.8) !important;
    moz-box-shadow: 1px 5px 8px rgba(0,0,0,0.8) !important;
    webkit-box-shadow: 1px 5px 8px rgba(0,0,0,0.8) !important;
}

#newEventButton {
    position: fixed;
    bottom: 45px !important;
    right: 45px !important;
    width: 60px;
    height: 60px;
    text-align: center;
    color: white !important;
    font-size: 40px;
    font-weight: 500;
    background: #F50057;
    border-radius: 50%;
    border: 0;
    padding: 0;
    cursor: pointer;    
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5)  !important;
    moz-box-shadow: 2px 3px 4px rgba(0,0,0,0.5) !important;
    webkit-box-shadow: 2px 3px 4px rgba(0,0,0,0.5)  !important;
}

.ui-tooltip {
    background: #BBDEFB;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
{
    background: #F50057;
}

.ui-datepicker.ui-widget-content td a.ui-state-highlight
{
    background: #F50057;

}
